
.truncate {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  width:100%;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project_thumbnail {
  border:1px solid gray;
}