<h2 class="page_header">About me</h2>
<div class="card">
    <div class="card-body">
        <p>Greetings Person on the Internet, I'm Ali Dogan.</p>
        <p>I develop software. My current focus of languages and frameworks are: Java(backend) and Angular(frontend).</p>
        <p>Check out my:</p>
        <p>Gitlab space:<a href="https://gitlab.com/ADogan">https://gitlab.com/ADogan</a></p>
        <p>Github space:<a href="https://github.com/ADogan">https://github.com/ADogan</a></p>
        <p>LinkedIn profile:<a href="https://www.linkedin.com/in/ali-d-0ba42622/">https://www.linkedin.com/in/ali-d-0ba42622/</a></p>
    </div>
</div>