h2 {
    text-align: center;
}

#main {
    /* background-color:olivedrab; */
    padding:20px;
    margin-top:25px;
   margin-left:20%;
    border: 2px dotted grey;
    border-bottom-left-radius: 10px;
    border-radius: 15px;
    font-family: monospace;
}

#main:hover {
    /* background-color:lightgreen; */
/*    cursor:grab;*/
    border: 2px solid black;
}

#main:active, #main:visited{
/*    background-color: darkolivegreen;*/
/*    cursor:grabbing;*/
}


@media (max-width:400px) { 
    #main {
        width:300px;
    }
 }

@media (min-width:400px) { 
    #main {
        width:800px;
    } 
} 