<div id="main">
    <div style="text-align:center">
      <h2>
        Hi Internet, I'm Ali <span placement="top" ngbPopover="The 'g' is silent.">Dogan</span>
      </h2>
      <span>I like developing software applications either for mobile, desktop, tablet's, wearables, webapplications or just as a backend service. My language of choice for the past years are Java(backend) and Angular(frontend).</span> <br />
      <span>Check out my github space: <a href="https://github.com/ADogan">https://github.com/ADogan/</a></span>
      <br /><br />
    </div>
    <app-projects></app-projects>
</div>