h2 {
    text-align: center;
}

#main {
    background-color:lightgreen;
    width:300px;
    padding:20px;
    margin-left:33%;
    border: 4px dotted grey;
    border-bottom-left-radius: 10px;
    border-radius: 15px;
    font-family: monospace;
}

#main:hover {
    background-color:aliceblue;
    cursor:grab;
}

#main:active, #main:visited{
    background-color: darkolivegreen;
    cursor:grabbing;
}

