<main role="main">
  <div class="container">
    <section class="jumbotron text-center">
        <h1 class="jumbotron-heading">Greetings Person on the Internet, <br />I'm Ali <span placement="top" ngbPopover="The 'g' is silent.">Dogan</span>.</h1>
        <p class="lead text-muted">I develop software. My current focus of languages and frameworks are: Java(backend) and Angular(frontend).</p>
        <p class="lead text-muted">Check out my github space: <a href="https://github.com/ADogan">https://github.com/ADogan/</a></p>
      </section>
      <app-projects></app-projects>
    </div>
  </main>