/* .albumHeader {
    text-align: center;
    size:10px;
} */

.project_name {
    color: black;
}

.badge {
    margin-left:3px;
}

.panelTitle {
    color:black;
}
.card-header {
    border-color:black !important;
}


.project_image {
    display: block;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:25px;

    border: 2px solid darkgray;
    border-radius: 25px;
}

.project_image:hover {
    border: 2px solid black;
}