<h2 class="page_header">Projects</h2>
<div class="album py-5">
    <ngb-accordion #a="ngbAccordion" class="project_accordeon">
        <ngb-panel *ngFor="let project of projects.reverse()">
            <ng-template ngbPanelHeader>
              <div class="d-flex align-items-center justify-content-between">
                <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0 panelTitle" >{{project.name}}</button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
                {{project.description}}
                <img class="project_image" title="Thumbnail of: {{project.name}}" src="/assets/project_thumbnails/{{project.image}}.png" />
                <br />
                <button type="button" class="btn btn-link"><a href="{{project.url}}" target="_blank">{{project.url}}</a></button>
                <br />
                <span *ngFor="let tag of project.tags" class="badge badge-info">{{tag}}</span>
              </ng-template>
          </ngb-panel>
      </ngb-accordion>
</div>
